.main{
    width: 90vw;
    background-color: white;
    margin: 20px auto 10px;
    border-radius: 12px;
    height: calc(100vh - 125px);
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

